@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";
@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../fonts/font-awesome";

.popover, .popover-inner{
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.popover {
	margin-left: 4px;
}
.map{
	opacity: 0.7;
}

.streets, .freeways, .arteries, .neighborhoods{
    fill: none;
    stroke-linejoin: round;
    &.streets{
        stroke: #89c9ff;
        stroke-width: 1px;
    }
    &.freeways {
        stroke: #2883d0;
        stroke-width: 4px;
    }
    &.arteries{
        stroke: #38658b;
        stroke-width: 2px;
    }
    &.neighborhoods{
        stroke: rgba(40,131,208,0.4);
        stroke-width: 2px;
    }
}

.popover{

}